---
layout: default
---

<div class="home">
  <h1 class="page-heading">Disciplinas</h1>

  <ul>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/mat/index.md %}">Matemática A</a></li>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/bg/index.md %}">Biologia e Geologia</a></li>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/fq/index.md %}">Físico-Química A</a></li>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/ing/index.md %}">Inglês</a></li>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/fil/index.md %}">Filosofia</a></li>
	  <li><a href="{{ site.baseurl }}{% link disciplinas/por/index.md %}">Português</a></li>
  </ul>

</div>
